.badge-usuario-ejecutor {
  background-color: #3498db !important;
  color: #fff;
}

.badge-usuario-solicitante {
  background-color: #2c3e50 !important;
  color: #fff;
}

.badge-usuario-admin {
  background-color: #e74c3c !important;
  color: #fff;
}

.badge-usuario-jefatura {
  background-color: #f39c12 !important;
  color: #fff;
}

.toast-center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1080; /* mayor que el modal backdrop */
}

